:root {
  --body-bg-color: #052d23;
  --accentuation-color: #dbff9a;

  --font-color-white: #f5f5f5;
  --font-color-grey: #e1dadac6;

  --classic-font: 'OpenSans';
  --classic-font-italic: 'OpenSansI';

  --weird-font: 'Playfair';
  --weird-font-italic: 'PlayfairI';

  --global-radius: 10px;
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans.ttf");
}
@font-face {
  font-family: OpenSansI;
  src: url("./fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: Playfair;
  src: url("./fonts/Playfair.ttf");
}
@font-face {
  font-family: PlayfairI;
  src: url("./fonts/Playfair-Italic.ttf");
}


body {
  background-color: red;
  margin: 0;
  padding: 0;
}

p {
  color: var(--font-color-white);
  font-size: 1.1em;
}


/*!  __________________ */
/*! |_____LOADING_____| */

.loading-component {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--accentuation-color);
  display: grid;
  place-content: center;
  align-items: center;
  grid-template-rows: 1fr .8fr .3fr;
  transition: all .6s ease-in-out;
}

.loading-component p {
  position: absolute;
  place-self: center;
  bottom: 10%;
  margin-left: 50px;
  font-family: var(--weird-font);
  font-size: 2.5em;
  color: var(--body-bg-color);
  font-weight: 500;
}

.loading-component p span {
  animation: dotAnimation 1.5s infinite;
  opacity: 0;
}

.loading-component p span:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-component p span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*!  __________________ */
/*! |____NOT_FOUND____| */

.not-found {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr .5fr 1fr 2fr;
  font-family: var(--weird-font);
}

.not-found h1 {
  font-size: 7em;
}

.not-found h2 {
  text-align: center;
}

.link {
  color: var(--accentuation-color);
  text-decoration: none;
}

.home-button {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: var(--weird-font);
  font-size: 1.1em;
  text-decoration: underline;
  color: var(--inverted-font-color);
  background-color: var(--accentuation-color);
  border-radius: var(--global-radius);
  border: none;
  padding: 2px 20px 2px 20px;
  transition: all .3s ease-in-out;
}

.home-button:hover::after  {
  width: 200px;
  height: 90px;
  border-radius: 62% 38% 65% 35% / 30% 51% 49% 70%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.home-button:hover {
  background-color: var(--darker-blue);
  cursor: pointer;
}

.home-button::after  {
  z-index: -1;
  content: '';
  transition: all .3s ease-in-out;
  margin-top: 0px;
  margin-left: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 62% 38% 25% 75% / 30% 51% 29% 30%;
  background-color: var(--light-grey-hover);
}

.home-button p {
  margin: 0;
  padding: 10px;
  color: var(--white-font-color);
}

.home-button img {
  filter: invert(1);
}

/*!  __________________ */
/*! |_____NAV_BAR_____| */

nav {
  z-index: 3;
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  border-radius: 3px;
  margin-top: 5px;
  overflow: hidden;
}

nav div {
  place-items: center;
  align-self: center;
}

nav ul {
  padding: 0;
}

.nav-links {
  background-color: rgba(255, 255, 255, 0.038);
  backdrop-filter: blur(100px);
  border-radius: 15px;
  margin-right: 20px;
}

.nav-links ul li {
  display: inline-block;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

.nav-link {
  position: relative;
  font-size: 1rem;
  font-family: var(--classic-font);
  font-weight: 500;
  color: var(--font-color-grey);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--accentuation-color);
}

.nav-link::before {
  content: '';
  position: absolute;
  background-color: var(--accentuation-color);
  margin-top: 25px;
  width: 0%;
  height: 2px;
  border-radius: 100px;
  transition: all .2s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link.selected {
  color: var(--accentuation-color);
}

.nav-link.selected::after {
  content: '';
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
  padding: 4px;
  background-color: var(--accentuation-color);
  transform: rotate(45deg);
  font-weight: bold;
  /* TODO a voir */
  border-radius: 2px;
}

.nav-hamburger {
  z-index: 3;
  position: fixed;
  top: 15px;
  right: 25px;
  display: none;
  filter: invert(1);
}

.nav-hamburger:hover {
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(60deg) saturate(200%);
}


.nav-eye {
  display: none;
}

@media (max-width: 1100px) {
  nav {
    z-index: 3;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 0px;
    border-radius: 0px;
    height: 80px;
    backdrop-filter: none;
    background-color: var(--body-bg-color);
    border-bottom: 1px solid var(--font-color-grey);
  }

  .nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100dvh;
    transition: all .3s ease-in-out;
    backdrop-filter: none;
    border-radius: 0px;
    background-color: var(--body-bg-color);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translate(100%, 0%);
    opacity: 0;
    bottom: 0;
  }
  
  .nav-links.open {
    transform: translate(0%,0%);
    opacity: 1;
  }

  .nav-link {
    font-size: 1.5em;
    color: white;
  }

  .nav-link:hover {
    color: white;
    font-weight: bold;
  }
  
  .nav-link::before {
    margin-top: 34px;
    background-color: white;
  }

  .nav-link.selected {
    color: white;
    font-weight: bold;
  }

  .nav-link.selected::after {
    margin-top: 11px;
    padding: 1;
    background-color: white;
  }

  .nav-links ul li {
    display: block;
    text-align: center;
  }

  .nav-links ul li {
    margin-top: 30px;
    padding: 0px 30px 0px 30px;
    opacity: 1;
  }
  
  .nav-hamburger {
    display: block;
  }

  .nav-eye {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .nav-links {
    width: 100%;
  }
}

.component {
  padding-top: 80px;
}


/*!  __________________ */
/*! |______HOME_______| */

.home-container-left {
  position: relative;
  margin-top: 30px;
  margin-left: 110px;
}

#self-portrait {
  position: relative;
  width: 230px;
  height: 280px;
  bottom: 0;
  left: 0;  
}

#self-portrait::after {
  content: " ";
  position: absolute;
  margin-top: -10px;
  margin-right: -10px;
  width: 230px;
  height: 280px;
  background-color: red;
  z-index: -1;
}

.home-text-container {
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.name {
  z-index: 2;
  position: relative;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  width: 0;
  height: 20px;
  margin-top: -22px;
  margin-left: 100px;
  font-size: 5em;
  font-weight: lighter;
  font-family: var(--weird-font);
  color: var(--font-color-white);
}
.name span {
  font-family: var(--weird-font-italic);
  font-weight: bold;
  margin-left: 15px;
}

.home-text-container h2 {
  position: relative;
  font-family: var(--weird-font);
  font-style: italic;
  font-size: 2.4em;
  color: var(--font-color-white);
  top: -20px;
  margin-left: 100px;
}

.home-text-container p {
  position: relative;
  font-family: var(--classic-font);
  font-size: 1.2em;
  color: var(--font-color-grey);
  margin-top: -10px;
  margin-left: 100px;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .home-container-left {
    margin-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #self-portrait {
    width: 200px;
    height: 250px;
  }

  .name {
    margin-top: 0;
    margin-left: 0;
    font-size: 4em;
  }

  .home-text-container h2 {
    margin-left: 0;
    font-size: 2em;
  }

  .home-text-container p {
    margin-left: 0;
    width: 80%;
  }
  
}

.home-design-right {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-image: -webkit-linear-gradient(left, 
    rgba(5, 45, 35,1) 0%, 
    rgba(5, 45, 35,.3) 100%
  );  
}

@media screen and (max-width: 1100px) {
  .home-design-right {
    right: 0;
    top: 100%;
    width: 100%;
    height: 120px;
    background-image: -webkit-linear-gradient(top, 
      rgba(5, 45, 35,1) 0%, 
      rgba(5, 45, 35,.3) 100%
    );
  }
}

.go-back-up-component {
  z-index: 5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

.go-back-up-svg {
  width: 100%;
  fill: rgba(255, 255, 255, 0.468);
  background-color: rgba(255, 255, 255, 0.099);
  border-radius: 100%;
  backdrop-filter: blur(10px);
  transition: all .3s ease-in-out;
}

.go-back-up-component:hover {
  cursor: pointer;
}

.go-back-up-component:hover .go-back-up-svg {
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
}